<% provide(:title, 'Home') %>
<div class="center hero-unit">

  <%= image_tag "/images/index.jpg", class:"img-polaroid" %>
  <br/>
  <br/>
  <h1>B4</h1>
  <blockquote>
	  <h3>
	  	You will experience whatever you can imagine.
	  </h3>
	</blockquote>
  <br/>
  <%= link_to "가입하기", signup_path, class: "btn btn-smmll btn-primary"%>
</div>
