<div id = "topicinfo">
	<h3 style="float:left;"><%= @topic.title %></h3>

  <table style="float:right;" >
  	<tr>
	  	<th><b>작성자</b></th>
  		<td><span class="label"><%= @topic.user_name %></span></td>
	  </tr>
  	<tr>
	  	<th><b>작성일</b></th>
  		<td><span class="label label-inverse"><%= @topic.updated_time.strftime("%Y/%m/%d\n%I:%M%p") %></span></td>
  	</tr>
    <tr>
      <th><b>조회수</b></th>
      <td><%= @topic.counter %></td>
    </tr>
	</table>  
</div>