<h1>Editing topic</h1>
<%= form_for([@forum, @topic],html: {multipart: true}) do |f| %>
	<%= render 'form',f: f %>
<% end %>
<br/>

<%= link_to '뒤로가기', forum_topic_path(@forum, @topic) %> |
<%= link_to '게시판 선택', forum_path(@forum) %>
