<h1>Editing topic</h1>
<%= form_for([@forum, @topic],html: {multipart: true}) do |f| %>
	<%= render 'form',f: f %>
<% end %>
<br/>

<%= link_to 'Back to Topic', forum_topic_path(@forum, @topic) %> |
<%= link_to 'Forums', forum_path(@forum) %>
